.app{
  width: 100%;
  max-width: 1460px;
  background-color: #1B1B1B;
  margin: 0 auto;
  color: #FFFFFF;
  font-weight : 600;
  font-size: 20px;
  line-height: 26.16px;
  display: flex;
  flex-direction: row;
}